<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>createMemberForm</title>
</head>
<body>
<form action="/member/new" method="post">
  <label for="email">email</label>
  <input type="text" id="email" name="email">
  <label for="username">username</label>
  <input type="text" id="username" name="username">
  <label for="password">username</label>
  <input type="password" id="password" name="password">
  <button type="submit">가입</button>
</form>
</body>
</html>
